# .gitignore - List of filenames git should ignore

# Filenames that should be ignored wherever they appear
*~
*.pyc
*.pyo
TAGS
tags
ID
.DS_Store*

# Vim swap files.
.*.sw[a-z]

# User files that may appear at the root
/.mozconfig*
/mozconfig
/configure
/config.cache
/config.log

# Empty marker file that's generated when we check out NSS
security/manager/.nss.checkout

# Build directories
/obj*/

# Build directories for js shell
*/_DBG.OBJ/
*/_OPT.OBJ/

# SpiderMonkey configury
js/src/configure
js/src/autom4te.cache
# SpiderMonkey test result logs
js/src/tests/results-*.html
js/src/tests/results-*.txt

# Java HTML5 parser classes
parser/html/java/htmlparser/
parser/html/java/javaparser/

# Ignore the files and directory that Eclipse IDE creates
.project
.cproject
.settings/

# My ignore
storage*
.gdbinit
.hg/
.hgignore
.hgtags
LEGAL
LICENSE
Makefile.in
README.txt
accessible*
aclocal.m4
allmakefiles.sh
b2g*
browser*
build*
caps*
chrome*
client.mk
client.py
config*
db*
dbm*
docshell*
dom*
editor*
embedding*
extensions*
gfx*
hal*
image*
intl*
ipc*
js*
layout*
media/*
memory*
mfbt*
mobile*
modules*
mozglue*
netwerk/Makefile.in
netwerk/base*
netwerk/cache*
netwerk/cookie*
netwerk/dns*
netwerk/ipc*
netwerk/locales*
netwerk/mime*
netwerk/protocol/about*
netwerk/protocol/data*
netwerk/protocol/device*
netwerk/protocol/file*
netwerk/protocol/ftp*
netwerk/protocol/http*
netwerk/protocol/res*
netwerk/protocol/viewsource*
netwerk/protocol/websocket*
netwerk/protocol/wyciwyg*
netwerk/socket*
netwerk/streamconv*
netwerk/system*
netwerk/test*
netwerk/wifi*
nsprpub*
other-licenses*
parser*
probes*
profile*
rdf*
security*
services*
startupcache*
testing*
toolkit/Makefile.in
toolkit/components*
toolkit/content*
toolkit/crashreporter*
toolkit/devtools*
toolkit/library/dlldeps-xul.cpp
toolkit/library/dlldeps-zlib.cpp
toolkit/library/nsDllMain.cpp
toolkit/library/nsGFXDeps.cpp
toolkit/library/nsStaticXULComponents.cpp
toolkit/library/xulrunner.rc
toolkit/library/xulrunos2.rc
toolkit/locales*
toolkit/mozapps*
toolkit/obsolete*
toolkit/profile*
toolkit/system*
toolkit/themes*
toolkit/toolkit-makefiles.sh
toolkit/toolkit-tiers.mk
toolkit/xre*
tools*
uriloader*
view*
webapprt*
widget*
xpcom*
xpfe*
xulrunner*

content/base/
content/canvas/
content/events/
content/html/
content/mathml/
content/media/AudioSegment.cpp
content/media/AudioSegment.h
content/media/FileBlockCache.cpp
content/media/FileBlockCache.h
content/media/MediaResource.cpp
content/media/MediaResource.h
content/media/MediaSegment.h
content/media/MediaStreamGraph.cpp
content/media/MediaStreamGraph.h
content/media/SharedBuffer.h
content/media/StreamBuffer.cpp
content/media/StreamBuffer.h
content/media/TimeVarying.h
content/media/VideoFrameContainer.cpp
content/media/VideoFrameContainer.h
content/media/VideoSegment.h
content/media/VideoUtils.cpp
content/media/VideoUtils.h
content/media/gstreamer/
content/media/nsAudioAvailableEventManager.cpp
content/media/nsAudioAvailableEventManager.h
content/media/nsAudioStream.cpp
content/media/nsAudioStream.h
content/media/nsBuiltinDecoder.cpp
content/media/nsBuiltinDecoder.h
content/media/nsBuiltinDecoderReader.cpp
content/media/nsBuiltinDecoderReader.h
content/media/nsBuiltinDecoderStateMachine.cpp
content/media/nsBuiltinDecoderStateMachine.h
content/media/nsDOMMediaStream.cpp
content/media/nsDOMMediaStream.h
content/media/nsIDOMMediaStream.idl
content/media/nsMediaCache.cpp
content/media/nsMediaCache.h
content/media/nsMediaDecoder.cpp
content/media/nsMediaDecoder.h
content/media/ogg/
content/media/raw/
content/media/test/
content/media/wave/
content/media/webm/
content/smil/
content/svg/
content/test/
content/xbl/
content/xml/
content/xslt/
content/xtf/
content/xul/

